:root {
  --color1: rgb(10, 14, 29);
  --color2: rgb(8, 23, 53);
  --color3: rgba(118, 157, 211, 0.021);
  --color4: rgb(21, 46, 82);

  --bg-gradient: linear-gradient(
    127deg,
    var(--color1) 15%,
    var(--color2) 50%,
    var(--color1) 85%
  );

  --bg-gradient-grid: repeating-linear-gradient(
      90deg,
      var(--color3),
      var(--color3) 1px,
      transparent 1px,
      transparent 20px
    ),
    repeating-linear-gradient(
      0deg,
      var(--color3),
      var(--color3) 1px,
      transparent 1px,
      transparent 20px
    ),
    var(--bg-gradient);
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#app {
  height: 100%;
}

main {
  background: var(--bg-gradient-grid);
  height: 100%;
}

#sign-in {
  width: 90%;
  top: 40%;
  left: 50%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
}
.sign-in-button {
  position: relative;
  height: 40px;
  margin: 7px;
  display: block;
  width: calc(100% - 14px);
  text-align: center;
  border-radius: 8px;
  border-width: 0;
  transition-duration: 0.2s;
  box-shadow: inset 0 1px 0 0 darkslategrey;
}

.sign-in-button:hover {
  box-shadow: inset -1px 0 0 darkslategrey, inset 0 -1px 0 darkslategrey,
    inset 1px 0 0 darkslategrey, inset 0 1px 0 darkslategrey;
  cursor: pointer;
  border-radius: 22px;
}

.sign-in-button:active {
  scale: 0.95;
}

.sign-in-button-img {
  position: relative;
  height: 20px;
  aspect-ratio: 1/1;
  float: left;
  vertical-align: middle;
  padding-left: 5px;
}

.sign-in-button-text {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
}

.sign-in-bar {
  color: white;
  background-color: white;
  width: 40%;
  height: 2px;
  border-width: 0;
  border-radius: 0.5px;
  border-color: darkslategray;
  margin-top: 5px;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid;
  border-color: white transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 2.5rem;
}

h5 {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.sign-in-button-text {
  margin-block-end: 0;
  margin-block-start: 0;
}

/* Phablet */
@media (min-width: 400px) {
  #sign-in {
    width: 350px;
  }
}

/* tablet */
@media (min-width: 750px) {
}

/* desktop */
@media (min-width: 1000px) {
  #sign-in {
    width: min(300px);
  }
}
